// business-highlighted-section
.business-highlighted-section {
  background-color: #001f26;
  color: #fff;
  padding-top: 0;
  padding-bottom: 74px;
  .left-section {
    padding: 0 48px;
    flex: 1;
    .title {
      font-size: 48px;
      line-height: 60px;
      font-family: GothamRounded;
      font-weight: 400;
    }
    .desc {
      margin-top: 40px;
      font-size: 20px;
      font-family: OpenSans;
      font-weight: 500;
      line-height: 28px;
      padding-right: 30px;
      * {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
      }
    }
  }
  .right-section {
    flex: 1;
    align-items: stretch;
    gap: 59px 84px;

    .section-card {
      width: calc(50% - 42px);
      .icons {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 30px;

        &.hands {
          width: 77px;
          height: 58px;
          background-image: url(/assets/hand-shake.svg);
        }
        &.tablet {
          width: 38px;
          height: 53px;
          background-image: url(/assets/tablet.svg);
        }
        &.clock {
          width: 58px;
          height: 58px;
          background-image: url(/assets/time.svg);
        }
        &.alert {
          width: 58px;
          height: 53px;
          background-image: url(/assets/alert.svg);
        }
      }
      .txt {
        font-size: 20px;
        font-family: OpenSans;
        strong {
          font-weight: 600;
        }
      }
    }
  }
}

/* fix layout issue when smaller than 1270px width */
@media (max-width: 1270px) {
  // business-highlighted-section
  .business-highlighted-section {
    .left-section {
      padding: 0;
      .title {
        font-size: 30px;
        font-family: GothamRounded;
        font-weight: 400;
        line-height: initial;
      }
      .desc {
        margin-top: 40px;
        font-size: 16px;
      }
    }
    .right-section {
      padding: 0 0 0 20px;
      gap: 41px 24px;
      grid-gap: 41px 24px;
      .section-card{
        width: calc(50% - 12px);
        .icons {
          margin-bottom: 10px;

          &.hands {
            width: 46px;
            height: 32px;
          }
          &.tablet {
            width: 23px;
            height: 32px;
          }
          &.clock {
            width: 35px;
            height: 35px;
          }
          &.alert {
            width: 35px;
            height: 32px;
          }
        }
        .txt {
          font-size: 14px;
        }
      }
    }
  }
}

/* fix layout issue when smaller than 767px width */
@media (max-width: 767px) {
  .business-highlighted-section {
    padding-bottom: 34px;
    .container {
      padding: 0 30px;
    }
    .left-section {
      padding: 0;
      .title {
        font-size: 26px;
        font-family: GothamRounded;
        font-weight: 400;
      }
      .desc {
        margin: 60px 0;
        font-size: 16px;
        padding-right: 0;
      }
    }
    .right-section {
      padding: 0;
      gap: 56px;

      .section-card {
        width: 100%;
        text-align: left;

        .icons {
          margin-bottom: 20px;

          &.hands {
            width: 46px;
            height: 32px;
          }
          &.tablet {
            width: 23px;
            height: 32px;
          }
          &.clock {
            width: 32px;
            height: 32px;
          }
          &.alert {
            width: 36px;
            height: 32px;
          }
        }
        .txt {
          font-size: 16px;
          padding: 0;
          font-weight: 400;
        }
      }
    }
  }
}
