.container {
  &.loan-completion {
    padding: 0 120px;
    .view-more {
      width: 100%;
      display: flex;
      justify-content: center;
      .green-btn {
        color: #00a792;
        font-family: OpenSans;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        border: 1px solid #00a792;
        border-radius: 24px;
        width: 278px;
        height: 48px;
        background: #ffffff;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }
}
